<!DOCTYPE html>
<html>
  <head>
    <title>MapGenerationApp</title>
    <%= csrf_meta_tags %>
    <% url = "https://maps.googleapis.com/maps/api/js?key=#{ENV["google_id"]}&libraries=geometry&callback=startMap" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer src= <%= "https://maps.googleapis.com/maps/api/js?key=#{ENV["google_id"]}&libraries=geometry&callback=startMap" %> >
    </script>

  </head>

  <body>
  </br>

    <h1 align=center  > Map Generation App </h1>
  </br>
  <div id="main-container" class="container" align=center>
    <div id="map" style='width: 800px; height: 400px;' align=center></div>
  </br>
  </div>
    <%= yield %>

  </body>
</html>
